.todo {
  display: grid;
  grid-template-rows: 100%;
  grid-template-areas:
      "todoExpired todoSoon todoFuture"
  ;
}

.todoExpired{
  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "todoExpiredHeader todoExpiredContent"
  ;
}
.todoExpiredContent {
  grid-template-columns: 50% 35% 15%;
  grid-template-areas:
  "todoExpiredContentHead todoExpiredContentHead todoExpiredContentHead"
  "teilnehmerVorname teilnehmerNachname date"
}
