.teilnehmer {
    display: grid;
    grid-template-columns: 10% 35% 40% 10% 5%;
    grid-template-rows: 100%;
    grid-template-areas:
        "teilnehmerAvatar teilnehmerName teilnehmerZiele teilnehmerFrist teilnehmerDetails"
    ;

    text-align: center;
}
.avatar {
    grid-area: teilnehmerAvatar;
}
.teilnehmerName {
    grid-area: teilnehmerName;
}
.teilnehmerZiele {
    grid-area: teilnehmerZiele;
    background: #8BC34A;
}
.teilnehmerFrist {
    grid-area: teilnehmerFrist;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "ueberschrift ueberschrift"
        "frist ziele"
    ;
}
.teilnehmerFrist .header{
    grid-area: ueberschrift;
}
.teilnehmerFrist .frist{
    grid-area: frist;
}
.teilnehmerFrist .ziele{
    grid-area: ziele;
}