.content {
    display: grid;
    grid-template-columns: 10% 35% 39% 10% 5%;
    grid-template-rows: 25% 75%;

    text-align: center;
    padding: 10px;
}
.gruppeHeadlineAppBar {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gruppeAppBar {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.zeitraumHeadlineAppBar {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.zeitraumAppBar {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.zieleFristen {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%;

}
.zieleFristenHeadlineAppBar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.zieleAppBar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.fristAppBar {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}